<?xml version="1.0"?>
<robot name="origins">
  <link name="base_link">
    <visual>
      <geometry>
        <cylinder length="0.6" radius="0.2"/>
      </geometry>
    </visual>
  </link>
  <link name="head">
    <visual>
      <geometry>
        <sphere radius="0.25"/>
      </geometry>
      <origin xyz="0 0 0.45" rpy="0 0 0"/>
    </visual>
  </link>
  <joint name="base_to_head" type="fixed">
    <parent link="base_link"/>
    <child link="head"/>
    <origin xyz="0 0 0.3" rpy="0 0 0"/>
  </joint>
</robot>
